<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDF Output</title>
    <style>
      @page {
        size: "A4";
        margin: 2.5cm 1.5cm 3.5cm 1.5cm;

        @top-center {
          content: "COMPANY NAME";
        }

        @bottom-right{
            content: "Page" " counter(page) " of " counter(pages);
        }
      }
    </style>
  </head>
  <body>
    <img src="https://cdn-icons-png.flaticon.com/512/3141/3141980.png"
    width="256" height="256" style="width: 256px !important; height: 256px !important;" />
    <h2>Expenses List</h2>
    <table class="table">
      <thead class="thead">
        <tr>
          <th>No</th>
          <th>Amount</th>
          <th>Category</th>
          <th>Description</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for expense in expenses %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{expense.amount}}</td>
            <td>{{expense.category}}</td>
            <td>{{expense.description}}</td>
            <td>{{expense.date}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>Total</td>
            <td>{{total}}</td>
        </tr>
      </tbody>
    </div>
  </body>
</html>
